.navbar {
    background-color: #2d3e50;
    
}

.navbar-dark .navbar-nav .show  > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #6FBEF3;
 }

 .card {
    padding: 15px; /* JUST TO LOOK COOL */
    border: 1px solid #eee;  /* JUST TO LOOK COOL */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    transition: all .3s ease-in-out;
}

.card:hover {
    box-shadow: 0px 19px 43px rgba(0, 0, 0, 0.22);
    transform: translate3d(0px, -1px, 0px);
}

.custom-footer {
    background-color: #2d3e50;
}

a {
    color: white;
}

.img-fluid {
    border-radius: 2%;
}

.custom-size {
    height: 35em;
}


.code {
    background-color: #2d3e50;
    padding: 0.5em;
    border-radius: 15px;
}

code {
    color: white;
}

.btn-copy {
    background-color: #2d3e50;
    border: 0.1em solid;
    color: #ffffff;
}

.btn-copy-success{
    background-color: white;
    border: 0.1em solid;
    color: green;
}

.btn-copy-success:hover{
    background-color: white;
    border: 0.1em solid;
    color: green;
}



.btn-copy:hover {
    background-color: white;
    color: #2d3e50;
    border: 0.1em solid;

}

.btn:focus {
    box-shadow:0 0 0 0rem;
}

.btn-submit {
    background-color: #2d3e50;
    color: white;
}

.btn-submit:hover {
    background-color: #2c3742;
    color: white;
}